body {
  font-family: sans-serif;
}

main {
  width: 450px;
  margin: 0 auto;
}

.tabs {
  position: relative;
}

.tabs > article {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.tabs > article + article {
  display: none;
}

article[data-block="gold"] {
  background-color: gold;
}

article[data-block="silver"] {
  background-color: silver;
}

article[data-block="bronze"] {
  background-color: #cd7f32;
}
